{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clientes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Ordenar</a>
        <a class="nav-link" href="#">Quantidade</a>
      </div>
    <form class="d-flex">
     <input class="form-control me-2" type="search" placeholder="Localizar" aria-label="Localizar">
     <div class="d-grid gap-2 d-flex justify-content-end">
        <button class="btn btn-success" type="submit">OK</button>
        <a class="btn btn-primary" href="{% url 'pessoas:registrar-cliente' %}">Novo</a>
     </div>
    </form> 
    </div>

  </div>
</nav>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    {% if cliente.tipo_cliente == 'F' %}
                        <th scope="col">Nome</th>
                        <th scope="col">Apelido</th>
                        <th scope="col">CPF</th>
                    {% else %}
                        <th scope="col">Razão Social</th>
                        <th scope="col">Nome Fantasia</th>
                        <th scope="col">CNPJ</th>
                    {% endif %}
                    <th scope="col">Atualizado</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in object_list %}
                <tr onclick="document.location = '{{ cliente.get_absolute_url }}';">
                    <td>{{ forloop.counter }}</td>
                    {% if cliente.tipo_cliente == 'F' %}
                        <td>{{ cliente.nome|upper }}</td>
                        <td>{{ cliente.apelido|upper }}</td>
                        <td>{{ cliente.cpf }}</td>
                    {% else %}
                        <td>{{ cliente.razao_social }}</td>
                        <td>{{ cliente.nome_fantasia }}</td>
                        <td>{{ cliente.cnpj }}</td>
                    {% endif %}
                    <td>{{ cliente.atualizado }}</td>
                </tr>
                {% empty %}
                    <li>Não existem produtos cadastrados.</li>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}